@media screen and (max-width:430px){
    body{
        width: 85%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;   
    }
    header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    section{
        width: 100%;
    }
    .suite-top{
        color: var(--Dark-Blue, #172339);
        font-family: Epilogue;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; 
        letter-spacing: -0.02775rem;
    }
   .top-curve{
    position: relative;
    left: 100px;
    top: 2.8rem;
    width: 9.467rem;
    height: 1.1875rem;
    flex-shrink: 0;
   }
   .phone-image{
    position: relative;
    left: 0;
    top: 2rem;
   }
    
    .super-solution{
        color: #172339;
        font-family: Epilogue;
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: 2.75rem;
        letter-spacing: -0.033rem;
        width: 300px;
    }
    .super-solution span{
        color: #172339;
       font-family: Epilogue;
       font-size: 38px;
       font-style: normal;
       font-weight: 700;
       line-height: 44px;
       letter-spacing: -0.528px;
    }
    
    
    .particulars{
        display: block;
        position: relative;
        top: -5rem;
    }
    .particulars span{
        position: relative;
        right: 3.5rem;
        font-size: 48px;
    }
    .jeremy-photo{
        position: relative;
        top: -15pc;
        left: 11.643pc;
        width: 252px;
        height: 402px;
        flex-shrink: 0
    }
    .jeremy{
        position: relative;
        border-radius: 1rem;
        width: 375px;
        height: 748px;
        flex-shrink: 0;
    }
    .curve{
        position: relative;
        top: 12rem;
        left: 0rem;
    }
    .paragraph-2{
       margin-top: 8rem;
    }
    .paragraph-2 h4{
        margin-right: 2rem;
    }
}
