@media screen and (max-width:834px){
    body{
        width: 100%;
        display: flex;
        align-content: center;
    }
    header{
      width: 90%;
    }
    section{
    display: list-item;
    width: 90%;
  }
  .phone-image{
    position: absolute;
    top: 11%;
    left: 27pc;
  }
  .super-solution{
    font-size: 58px;
    width: 60%;

  }
  .super-solution span{
    font-size: 64px;
  }
   .top-curve{
    position: relative;
    top: 3.5rem;
    left: 135px;
   }
   .jeremy{
    width: 689px;
    height: 684px;
    padding-bottom: 2pc;
    display: flex;
    justify-items: center;
   }
   .jeremy-photo{
    position: relative;
    top: -18rem;
    left: 210px;
    width: 202px;
    height: 352px;
   }
   .curve{
    position: relative;
    left: 2rem;
    top: 5.6rem;
   }
   .paragraph-2{
    color: var(--Cream, #F3EDE7);
    font-family: Epilogue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.09px;
    padding-bottom: 5rem;
    position: relative;
    bottom: -7rem;
    right: 10pc;
    text-align: center;
   }
   .paragraph-2 h1{
    color: #FAF8F6;
    text-align: center;
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
    letter-spacing: -0.417px;
    text-align: center;

   }
   .paragraph-2 h4{
    text-align: center;
    margin-left: 4rem;
   }
   .particulars{
    display: flex;
    flex-direction: row;
    margin-left: 8pc;
    column-gap: 3rem;
    width: 70%;
    justify-self: center;
    padding: 6pc;
    padding-bottom: 4pc;
   }
   footer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 1.9pc;

   }
   .social{
    column-gap: 2rem;
    position: relative;
    top: 1rem;

   }
   }
  
